{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ settings.site_title }}</title>
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon.png" %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

    <script type="text/javascript">
        //ALERTS
        function newAlertAutoClose(type, message) {
            const alerts = document.getElementById("alerts");
            //generate new alert
            alerts.innerHTML =
                '<div class="alert alert-'+type+' alert-dismissible autoclosealert" role="alert">'
                +    message
                +    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                +        '<span aria-hidden="true">&times;</span>'
                +    '</button>'
                +'</div>'
                + alerts.innerHTML;
            //show new alert
            $(".autoclosealert:first-child").fadeIn(300, function(){$(this).addClass("show")});
            //remove old alert after 5 secs
            setTimeout(function(){
                $(".autoclosealert:last-child").slideUp(200, function (){$(this).remove()})
            }, 5000);
        }
        function newAlert(type,message) {
            const alerts = document.getElementById("alerts");
            //generate new alert
            alerts.innerHTML =
                '<div class="alert alert-' + type + ' alert-dismissible btalert" role="alert">'
                + message
                + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                + '<span aria-hidden="true">&times;</span>'
                + '</button>'
                + '</div>'
                + alerts.innerHTML;
            //show new alert
            $(".btalert:first-child").fadeIn(300, function () {
                $(this).addClass("show")
            });
        }
    </script>
    {% block inhead %}{% endblock %}
</head>
<body class="bg-light">
{% block header %}{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>